version: '3.8'

services:
  # PostgreSQL数据库
  postgres:
    image: postgres:15-alpine
    container_name: ecommerce-db_renamed
    environment:
      POSTGRES_DB: ecommerce_renamed
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecommerce-network

  # 后端服务
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: ecommerce-backend_renamed
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://admin:admin123@postgres:5432/ecommerce_renamed
      JWT_SECRET: zjP9h6ZI5LoSKCRj
    depends_on:
      - postgres
    networks:
      - ecommerce-network
    volumes:
      - ./backend:/app
      - /app/node_modules

  # 前端服务
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: ecommerce-frontend_renamed
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - ecommerce-network
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data:
    external: true
    name: repo_postgres_data

networks:
  ecommerce-network:
    driver: bridge